<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/vendor/meticsgraphics/metricsgraphics.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/station.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script type="text/javascript" src="static/js/pace.min.js"></script>
    <script type="text/javascript" src="static/js/d3.min.js"></script>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Raleway:700,400,200,100">
    <script type="text/javascript" src="static/js/metricsgraphics.js"></script>
    <script type="text/javascript" src="static/js/moment.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css' rel='stylesheet' />
    <title>Graphics</title>
</head>

<body>
    <div class="top-bar"></div>
    <div class="container-fluid">
        <div class="col-lg-4 col-md-12 col-sm-12 sidebar pad2 whiteBackground">
            <div class="bikes-panel">
                <div>
                    <h1 style="padding-bottom: 20px;">
                Available Bikes Timeseries
            </h1>
                    <p>
                        This prototype creates a realtime timeseries chart using CitiBike data. This version only charts the available bikes ratio. Future iterations will include other metrics as well as the results of a forecasting algorithm.
                    </p>
                </div>
                <div id="plot"></div>
                <div class="row">
                    <div class="col-xs-5">
                        <span id="bike-status-number" class="status-number">38</span>
                        <span>Bikes</span>
                    </div>
                    <div class="col-xs-5 col-push-sm-12">
                        <span id="dock-status-number" class="status-number">2</span>
                        <span>Docks</span>
                    </div>
                    <div class="col-xs-4 col-push-sm-12"></div>
                </div>
            </div>
            <div class="row listings">
                <div id='listings' class='listings'></div>
            </div>
        </div>
        <div id="map" class="col-lg-8 col-md-12 col-sm-12 map pad2"></div>
    </div>
</body>
<script type="text/javascript" src="static/js/stationtimeseries.js"></script>
<script type="text/javascript" src="static/js/map.js"></script>
